<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User_profile</title>

    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="script.js" defer></script>
</head>
<body>
<div class = "profile-container">
    <!-- Container having Heading -->
    <div class="profile-heading">KONTO</div>
    <!-- Second container after heading - profile header -->
    <div class="profile-header">
        <div class="profile-avatar">
            <img class="avatar" src="profile_picture.jpg" alt="Awatar użytkownika" width="150" height="150">
        </div> <!--  -->
        <div class="profile-header-info"> <!--  -->
            <div class="profile-username">Nazwa użytkownika</div>
            <div class="profile-creation-date">
                Profil utworzono: <span class = "profile-header-date">01.01.2001</span>
            </div>
            <div class="profile-country-info">
                <div class="country-img">
                    <span><img id="flag-picture"src="polska.png" alt="Flag picture" width="25" height="20"></span>
                </div>
                <div class="country-name">
                    Polska
                </div>
            </div>
        </div>
        <div class="profile-header-edit"> <!--  -->
            <div class="edition-text">
                <a class="edit-profile-header" id="edit-profile-header" href="#" title="Edytuj Profil">
                    Edycja
                </a>
            </div>
        </div>
    </div>
    <!-- Container having user's statistics and return option -->
    <div class="profile-main">
        <div class="profile-statistics"> <!--  -->
            <div class="profile-statistics-inscription">Statystyki</div>
            <div class="profile-statistics-number-of-games stats">
                <div id="number-of-game-text">Gry</div>
                <div id="number-of-game-stats">146</div>
            </div>
            <div class="profile-statistics-number-of-points stats">
                <div id="number-of-points-text">Punkty</div>
                <div id="number-of-points-stats">23 590</div>
            </div>
            <div class="profile-statistics-W-L-D-games stats">
                <div id="W-L-D-games-text">W/P/R</div>
                <div id="W-L-D-games-stats">42/98/6</div>
            </div>
            <div class="profile-statistics-total-game-time stats">
                <div id="total-game-time-text">Całkowity czas gry</div>
                <div id="total-game-time-stats">7,3h</div>
            </div>
            <div class="profile-statistics-average-game-time stats">
                <div id="average-game-time-text">Średni czas gry</div>
                <div id="average-game-time-stats">2min 36sec</div>
            </div>
            <div class="profile-statistics-best-win-streak stats">
                <div id="best-win-streak-text">Winstreak</div>
                <div id="best-win-streak-stats">5</div>
            </div>
            <div class="profile-statistics-number-of-abandoned-games stats">
                <div id="number-of-abandoned-games-text">Liczba porzuconych gier</div>
                <div id="number-of-abandoned-games-stats">11</div>
            </div>
        </div>
        <div class="profile-return-button">
            <input type="button" value="Powrót">
        </div> <!--  -->
       </div>
</div>

<!-- Modal Section -->
<div class="background-modal">
    <div class="modal-content">
        <div class="modal-settings">Ustawienia</div>
        <div class="modal-nick">
            <div class="modak-nick-text row-one">
                Nazwa użytkownika
            </div>
            <div class="modal-nick-current"></div>
            <input class="modal-nick-input">
        </div>
        <div class="modal-email">
            <div class="modal-email-text row-one">Email</div>
            <input class="modal-email-input">
        </div>

        <div class="modal-password-old">
            <div class="row-one">Stare hasło</div>
            <input class="modal-password-input-old">
        </div>
        <div class="modal-password-new">
            <div class="row-one">Nowe hasło</div>
            <input class="modal-password-input-new">
        </div>
        <div class="modal-password-new-repeat">
            <div class="row-one">Powtórz hasło</div>
            <input class="modal-password-input-new-repeat">
        </div>
        <div class="modal-country">
            <div class="modal-country-text row-one">Kraj</div>

        </div>
        <div class="modal-button">
            <button class="modal-button-save">Zmień</button>
            <button class="modal-button-cancel">Anuluj</button>
        </div>
    </div>
</div>


</body>
</html>