/* ul {
    list-style: none;
    display: flex;
    color: black;
    float:left;
    padding: 8px 16px;
    text-decoration: none;
} */

ul.breadcrumb {
    padding: 8px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  ul.breadcrumb li {display: inline;}
  
  
  ul.breadcrumb li a {color: green;}

li {
    margin: auto;
}

.pagination {
  text-align: center;
}

.pagination button {
    background-color: lightskyblue;
    border: 1px solid rgb(221, 221, 221);
    margin: 0 4px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.pagination button.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
.pagination button:hover:not(.active) {background-color: #ddd;}