
#header {
  background: none;
  height:40px;
  color: #102542;
  border: #102542;
}
.App {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #66bb6ae1 0%, #90b594 100%);
  color: #102542;
  min-height: 100vh;
  user-select: none;
}

.stats__back-div {
  display: flex;
  align-items: center;
  width: 100%;
} 

.stats__back{
  text-decoration: none;
  font-size: 2rem;
  padding: 10px;
  color:  #102542;
  cursor: pointer;
}
.stats__title{
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #102542;
  letter-spacing: 1.8px;
}


.avatar {
    width: 40px;
    height:40px;

}
.avatar.center {
    margin:0 auto;
}
.avatar.absolute {
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
}

.pageNumbers {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    list-style-type: none;
}

.pageNumbers li{
  padding: 5px;
  border: solid 1px #102542;
  cursor: pointer;
  display: inline;
  list-style-type: none;
  background: none;
  margin: 0 4px;
  font-size: 16px;
  user-select: none;
}

.pageNumbers li.active{
  border: solid 2px #102542;
  font-weight: bold;
}

.pageNumbers li button {
  background: none;
  border: none;
  color: #102542;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
}

.stats__header {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.stats__header-player, .stats__header-rank, .stats__header-wdl {
  display: flex;
  flex-direction: row;
}
.stats__header-player {
  width: 38%;
  margin-left: 2%;
}
.stats__header-rank, .stats__header-wdl {
  width: 30%;
  justify-content: center;
}

.stats__header-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats__header-arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.stats__header-arrows-up,
.stats__header-arrows-down {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  cursor: pointer;
}
.stats__header-arrows-up {
  margin-bottom: 5px;
  border-bottom: 7px solid;
}
.stats__header-arrows-down {
  border-top: 7px solid;
}

.filter {
  position: absolute;
  right: 15px;
  top: 15px;
}

.buttonfilter {
  background: none;
  border: solid 1px #102542;
  color: #102542;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  user-select: none;
  padding: 5px;
  font-size: 20px;
  margin: 0 4px;
}