.appinfo__back{
  position: absolute;
  top: 0;
  left: 0;

  text-decoration: none;
  font-size: 2rem;
  padding: 10px;
  color: rgba(0, 214, 252, 0.8);
  cursor: default;
  user-select: none;
}

.appinfo__back:hover {
  text-shadow: 0 0 7px rgba(0, 214, 252, 0.9),
  0 0 3px rgba(0, 214, 252, 0.9);
}

.appinfo__container{
  padding: 50px 20px;
  background: linear-gradient(180deg, rgba(50,0,0,1) 0%, rgba(20,0,0,1) 60%, rgba(0,0,0,1) 100%);
  min-height: 100vh;
}

.appinfo__container p,
.appinfo__container div,
.appinfo__container h2,
.appinfo__container h3{
  padding-left: 10px;
  color: rgba(0, 214, 252, 0.9);
}

.appinfo__container > h1 {
  color: rgba(0, 214, 252, 1);
}

.appinfo__container ul{
  margin-left: 10px;
  color: rgba(0, 214, 252, 0.9);
}