.appinfo__back{
  position: absolute;
  top: 0;
  left: 0;

  text-decoration: none;
  font-size: 2rem;
  padding: 10px;
  color: #102542;
  cursor: pointer;
  user-select: none;
}

.appinfo__container{
  padding: 50px 20px;
  background: linear-gradient(180deg, #66bb6ae1 0%, #90b594 100%);
  min-height: 100vh;
}

.appinfo__container p,
.appinfo__container div,
.appinfo__container h2,
.appinfo__container h3{
  padding-left: 10px;
  color: #102542;
}

.appinfo__container > h1 {
  color: #102542;
}

.appinfo__container ul{
  margin-left: 10px;
  color: #102542;
}