.appinfo__back{
  position: absolute;
  top: 0;
  left: 0;

  text-decoration: none;
  font-size: 2rem;
  padding: 10px;
  color: black;
}

.appinfo__container{
  padding: 50px 20px;
  max-width: 1200px;
}

.appinfo__container p,
.appinfo__container div,
.appinfo__container h2,
.appinfo__container h3{
  padding-left: 10px;
}

.appinfo__container ul{
  margin-left: 10px;
}