.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 14%;
}

.button {
  width: 3.5em;
  height: 2.5em;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 0.3em;
  cursor: pointer;
}

.disabledButton {
  cursor: default;
}
