.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 14%;
}

.button {
  width: 3.5em;
  height: 2.5em;
  background: none;
  border: solid 1px #102542;
  color: #102542;
  font-size: 14px;
  padding-top: 4px;
}

.disabledButton {
  cursor: default;
}
