.content {
  display: flex;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: linear-gradient(180deg, #66bb6ae1 0%, #90b594 100%);
  user-select: none;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.settings__back{ 
  text-decoration: none;
  font-size: 2rem;
  padding: 10px;
  color: #102542;
  cursor: pointer;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #102542;
  letter-spacing: 1.8px;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  margin-left: 10px;
  width: 600px;
  height: 100%;
}

.item {
  display: flex;
}

.item + .item {
  margin-top: 30px;
}

.name {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 70%;
  font-size: 1.8rem;
  color: #102542;
}

.switch {
  width: 30%;
  color: #102542;
}

.selection {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectionContainer {
  display: flex;
}

.arrow {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  color: #102542;
  cursor: pointer;
}

.card {
  max-height: 220px;
  width: auto;
  max-width: 300px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.arrowLeft {
  margin-right: 30px;
}

.arrowRight {
  margin-left: 30px;
}

.saveCardButton {
  width: 160px;
  height: 50px;
  background: none;
  border: solid 1px #102542;
  color: #102542;
  cursor: pointer;
  margin-top: 35px;
  font-size: 16px;
}

.saveButtonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.saveButton {
  background: none;
  border: solid 1px #102542;
  color: #102542;
  padding: 15px 32px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  text-decoration: none;
  cursor: pointer;
}

.disabledButton {
  cursor: not-allowed;
}

.disabledButton:hover {
  box-shadow: none;
  text-shadow: none;
}
