.lobby__container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #66bb6ae1 0%, #90b594 100%);
  user-select: none;
  flex-direction: column;
}

.lobby__back{
  position: absolute;
  top: 0;
  left: 0;

  text-decoration: none;
  font-size: 2rem;
  padding: 10px;
  color: #102542;
  cursor: default;
}

.lobby__inner-container{
  width: 700px;
  color: #102542;

  padding-bottom: 10px;
}

.lobby__inner-container input{
  padding: 1em 1em;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 650px;
  background: none;
  color: #102542;

  border: solid 1px #102542;
  border-radius: 3px;
  font-size: 20px;
}

.lobby__inner-container input:focus {
  border: solid 1px #102542;
  outline: none;
}

.lobby__headline {
  margin-bottom: 1em;
  text-align: center;
  font-size: 40px;
  color: #102542;
  letter-spacing: 1.8px;
}

.lobby__label {
  color: #102542;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#game-time {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}


.lobby__create-room-button {
  background: none;
  border: solid 1px #102542;
  color: #102542;

  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 16px;
  width: 200px;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
}

/* BEFORE CREATION PART */
.lobby__create-room-form, .lobby__create-room-form > div{
  display: flex;
  flex-direction: column;
}

.lobby__create-room-form > div{
  margin: 10px 0;
}

.lobby__create-room-form > button{
  margin: 15px 0;
}

/* AFTER CREATION PART */
.lobby__created-data{
  display: flex;
  align-self: flex-start;
}

.lobby__created-data ul{
  list-style-type: none;
  margin-left: -40px;
}

.lobby__created-data p:first-child{
  width: 200px;
}

.lobby__created-data p:last-child{
  flex: 1;
}

.lobby__created-data__btns{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.lobby__created-data__btns button{
  background: none;
  border: solid 1px #102542;
  color: #102542;

  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 40px;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  text-decoration: none;
  cursor: pointer;
}

.player-row p{
  width: 100px !important;
  margin: 0;
}

.player-row div{
  display: flex;
  margin-bottom: 5px;
}

.player-row button{
  all: unset;
  cursor: pointer;
}

.player-row:first-child button{
  display: none;
}