.container {
  position: relative;
  width: 170px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(
    90deg,
    rgb(0, 214, 252) 60%,
    rgb(214, 214, 214) 60%
  );
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  border: solid 1px #102542;
  background: none;
}

.slider:hover {
  opacity: 1;
}

.label {
  margin: 10px 0 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
