.joined-room{
  width: 100vw;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lobby__modal-container{
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lobby__modal-container.active{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lobby__modal{
  padding: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
}

.lobby__modal button{
  margin: 5px;
}