.joined-room{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #66bb6ae1 0%, #90b594 100%);
  user-select: none;
  flex-direction: column;
  color: #102542;
}

.lobby__modal-container{
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: #66bb6a;
  display: none;
}

.lobby__modal-container.active{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lobby__modal{
  padding: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.lobby__modal button{
  background: none;
  border: solid 1px #102542;
  color: #102542;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 40px;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  text-decoration: none;
  cursor: pointer;
}

.lobby-extra-button-class {
  justify-content: center;
}

#lobby-leave {
  background: none;
  border: solid 1px #102542;
  color: #102542;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 40px;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  text-decoration: none;
  cursor: pointer;
}